.company-remove-icon-header {
  width: 30px;
}
.company-icon-container > .pt-icon-standard {
  visibility: hidden;
  opacity: 0;
}
.company-table-row:hover .company-icon-container > .pt-icon-standard {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
  transition: opacity 200ms ease-out;
}