@import '../node_modules/@blueprintjs/core/dist/blueprint.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* TODO - move stuff to own file */
.dialog-container {
  margin: 20px 20px 0px 20px;
}
.dialog-button-container {
  display: flex;
  justify-content: flex-end;
}

.dialog-button-container > button {
  margin-left: 10px;
}

/* general helper classes */

.align-middle {
  display: flex;
  align-items: center;
}

.margin-md {
  margin: 10px;
}
.margin-top-md {
  margin-top: 10px;
}
.margin-right-md {
  margin-right: 10px;
}
.margin-bottom-md {
  margin-bottom: 10px;
}
.margin-left-md {
  margin-left: 10px;
}

.margin-lg {
  margin: 15px;
}
.margin-top-lg {
  margin-top: 15px;
}
.margin-right-lg {
  margin-right: 15px;
}
.margin-bottom-lg {
  margin-bottom: 15px;
}
.margin-left-lg {
  margin-left: 15px;
}

.margin-xl {
  margin: 20px;
}
.margin-top-xl {
  margin-top: 20px;
}
.margin-right-xl {
  margin-right: 20px;
}
.margin-bottom-xl {
  margin-bottom: 20px;
}
.margin-left-xl {
  margin-left: 20px;
}